In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn; 
from sklearn.linear_model import LinearRegression
from scipy import stats
import pylab as pl
import pandas as pd

seaborn.set()

In [3]:
import pandas as pd
# Read in data and display first 5 rows
df = pd.read_csv('/Users/daisyabbott/Desktop/experProj/archive/crime_in_la.csv')
df.head(5)

,DR_NO,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,LAT,LON
0,10304468,08/01/2020,22:30,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,0444 0913,36,F,B,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,1100 W 39TH PL,34.0141,-118.2978
1,190101086,01/01/2020,03:30,1,Central,163,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,M,H,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S HILL ST,34.0459,-118.2545
2,191501505,01/01/2020,17:30,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,5400 CORTEEN PL,34.1685,-118.4019
3,191921269,01/01/2020,04:15,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,X,X,BEAUTY SUPPLY STORE,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,14400 TITUS ST,34.2198,-118.4468
4,200100501,01/01/2020,00:30,1,Central,163,121,"RAPE, FORCIBLE",0413 1822 1262 1415,25,F,H,NIGHT CLUB (OPEN EVENINGS ONLY),500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S BROADWAY,34.0452,-118.2534

In [4]:
feature_list = ['AREA NAME', 'Vict Age', 'Vict Sex',
            'Vict Descent','Weapon Used Cd', 'LOCATION']
target = 'TIME OCC'
# Categorical features
cat = ['AREA NAME', 'Vict Sex','Vict Descent', 'Weapon Used Cd', 'LOCATION']
# Numeric features
num = ['Vict Age', 'TIME OCC']

In [5]:
# create data frame from feature list
temp = df[feature_list]
temp

,AREA NAME,Vict Age,Vict Sex,Vict Descent,Weapon Used Cd,LOCATION
0,Southwest,36,F,B,400.0,1100 W 39TH PL
1,Central,25,M,H,500.0,700 S HILL ST
2,N Hollywood,76,F,W,500.0,5400 CORTEEN PL
3,Mission,31,X,X,500.0,14400 TITUS ST
4,Central,25,F,H,500.0,700 S BROADWAY
...,...,...,...,...,...,...
495405,Mission,37,M,W,500.0,14000 BALBOA BL
495406,Mission,48,F,H,500.0,8400 VAN NUYS BL
495407,West Valley,0,X,X,500.0,18800 SHERMAN WY
495408,Northeast,0,X,X,500.0,4000 FOUNTAIN AV
495409,Foothill,61,F,H,500.0,12700 VAN NUYS BL

In [6]:
# drop null values
temp = temp.dropna()
temp

,AREA NAME,Vict Age,Vict Sex,Vict Descent,Weapon Used Cd,LOCATION
0,Southwest,36,F,B,400.0,1100 W 39TH PL
1,Central,25,M,H,500.0,700 S HILL ST
2,N Hollywood,76,F,W,500.0,5400 CORTEEN PL
3,Mission,31,X,X,500.0,14400 TITUS ST
4,Central,25,F,H,500.0,700 S BROADWAY
...,...,...,...,...,...,...
495405,Mission,37,M,W,500.0,14000 BALBOA BL
495406,Mission,48,F,H,500.0,8400 VAN NUYS BL
495407,West Valley,0,X,X,500.0,18800 SHERMAN WY
495408,Northeast,0,X,X,500.0,4000 FOUNTAIN AV
495409,Foothill,61,F,H,500.0,12700 VAN NUYS BL

In [ ]:
# represent numerically??
features = temp[cat]
features = pd.get_dummies(features)
features